<div class="container col-sm-offset-4 col-sm-4">
  <h3>Login </h3>
  <hr/>
  <div class="form-group">
      <label for="username">Username:</label>
      <input [(ngModel)] = "this.username" class="form-control input-sm" id="username"  />
  </div>
  <div class="form-group">
      <label for="password">Password:</label>
      <input [(ngModel)] = "this.password" type="password" class="form-control input-sm" id="password"  />
  </div>
  <button  class="btn btn-primary btn-sm" (click)="this.login()" >Log In</button>

</div>